@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-size: 16px;

    font-size: var(--font-size);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.7;
}

body.contrast-mode[data-theme="dark"] {
    background-color: black;
}

body.contrast-mode[data-theme="dark"] .MuiStack-root,
body.contrast-mode[data-theme="dark"] .MuiPaper-root {
    background-color: black;
}

body.contrast-mode[data-theme="dark"] .MuiTypography-root,
body.contrast-mode[data-theme="dark"] a {
    color: yellow;
    fill: yellow;
}

body.contrast-mode[data-theme="light"] .MuiStack-root,
body.contrast-mode[data-theme="light"] .MuiPaper-root {
    background-color: white;
}
