@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --font-size: 16px;

    font-size: var(--font-size);
}

a {
    text-decoration: none;
    color: inherit;
}

.alto-contraste{
    mix-blend-mode: difference; /* Ou outro modo de mistura de sua escolha */
    filter: contrast(200%); /* Ajuste conforme necessário */
  }
  
